<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Embedding JavaScript</title>
</head>
<br>

    <p id="demop">---pppppp--------</p>
     <button id="button">Click Me!</button>
     <form action="#">
         <label for="val1" >Value a</label>
         <input type="number" name="val1"></form></br>
         <label for="val2" >Value b</label>
         <input type="number" name="val2">
     </form>

    <script src="my.js" type='text/javascript'></script>


</body>
</html>